/* Soluzione qui */

@media screen and (min-width: 769px) {

  #topbar {
    display: flex;
    justify-content: left;
  }

  main {
	padding: 45px;
  }
  
  .recipe-origin {
	  display: contents;
  }

  .recipe-name {
	  font-size: 2rem;
  }
  
  .quick-notes ul {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;    
  }  
    .quick-notes li {
      flex-basis: calc(769/3);
      flex-shrink: 0;
      min-width: calc(100%/3 - (15px*2)/3);
    }

  .social-networks button {
    min-width: calc(100% / 5 - (20px * 4) /5);
  }

  .ads {
    display: flex;
  }

  .clearfix::after {
    clear: none;
  }
  .presentation img {
    float: left;
    padding-right: 10px;
  }
}

@media screen and (min-width: 993px) {

  .recipe-name {
    font-size: 2.5rem;
  }

  .quick-notes ul {
    display: flow;    
  }  

  .recipe-card {
    display: flex;
  }
  .recipe-video {
    flex-grow: 5;
  }

  .social-networks .label {
	display: contents;
}
}