/* Soluzione qui */

@media screen and (min-width: 769px) {

  #topbar {
    display: flex;
    justify-content: left;
  }

  main {
	padding: 45px;
  }
  
  .recipe-origin {
	  display: contents;
  }

  .recipe-name {
	  font-size: 2rem;
  }
  
  .quick-notes ul {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;    
  }  
    .quick-notes li {
      flex-basis: calc(769/3);
      flex-shrink: 0;
      min-width: calc(100%/3 - (15px*2)/3);
    }


  .ads {
    display: flex;
  }
}